<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1087825595658-k3s5bmlio0hgh50btmdto6rv0c0advbl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1087825595658-k3s5bmlio0hgh50btmdto6rv0c0advbl.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>pokeapi.co</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>rickandmortyapi.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>api.github.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(NSLocationWhenInUseUsageDescription)</string>
	<key>api.github.com</key>
	<dict>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<false/>
		<key>NSExceptionRequiresForwardSecrecy</key>
		<true/>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSRequiresCertificateTransparency</key>
		<false/>
	</dict>
</dict>
</plist>
